<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>股票们</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>查询</h1>
        <a href="{% url 'stock:rank_by_share_times' %}">按照分红次数排序</a><br>
        <a href="{% url 'stock:recent_shares' %}">近期分红（按照预案公告日）</a><br>
        <form action="{% url 'stock:get_shares_by_time_point' %}" method="post">
            {% csrf_token %}
            按时间点查询(预案公告日)：
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {% if stocks %}
            <h1>列表</h1>
            <ul>
                {% for stock in stocks %}
                    <li><a href="{% url 'stock:detail' stock.ts_code %}">{{ stock.ts_code }}--{{ stock.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No stocks are available.</p>
        {% endif %}
    </body>
</html>